go 1.19

use (
	.
	./bucket
	./bucket/minio/v7
	./bucket/s3/v2
	./cache
	./cache/gomemcache
	./cache/goredis/v8
	./cache/goredis/v9
	./loader
	./pool
	./queue
	./towerdiscord
	./towerhttp
	./towerslack
	./towerzap
)
